.nav_brand {
    width: 350px;
}

.nav_button {
    border: none;
    background: none;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;

    color: rgba(0, 0, 0, 0.3);
}