<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New schema</title>
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon2.png" %}">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#"><img class="nav_brand" src="{% static "images/favicon.png" %}" alt="favicon"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="{% url 'list' %}">Schemes list</a>
                        <a class="nav-link" href="{% url 'create' %}">Add new scheme</a>
                    </div>
                </div>
                <a href="#"><button class="me-3 nav_button">Hello, username</button></a>
                <form action="{% url 'logout' %}" method="post">
                  <button type="submit">Logout</button>
                </form>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col">

                {% block content %}
                    <section class="uk-section uk-section-xsmall">
                        <form method="post" id="schemaform" enctype='multipart/form-data'>
                            <div class="uk-flex uk-flex-between uk-flex-middle uk-padding uk-padding-remove-bottom">
                                <div>
                                    <h1 class="uk-h3">New schema</h1>
                                </div>
                                <div>
                                    <div class="col text-end">
                                        <button class="btn btn-primary" type="submit" name="action" value="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="uk-padding uk-padding-remove-vertical head-form">
                                {{ form }}
                            </div>
                            <div class="row">
                                <h3 class="col">Schema columns</h3>
                            </div>
                            <div class="uk-flex uk-flex-column">
                                {% for formset in inlines %}
                                <div class="formset">
                                    {{ formset.management_form }}
                                    {% for columnsform in formset %}
                                    <div class="uk-padding columns-form {% if forloop.last %}last uk-border-rounded uk-margin-top{% else %} uk-padding-remove-vertical {% endif %}">
                                        {{ columnsform }}
                                        {% if forloop.last %}
                                        <div class="row">
                                            <div class="col">
                                                <button class="btn btn-primary" type="submit" name="action" value="add_column">Add column</button>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% if inlines.length == 1 %}
                                <hr>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </form>
                    </section>
                {% endblock %}

    </main>

    <footer>

    </footer>
</body>

</html>